body{
  font-family: "Inter", serif; 
  font-style: normal;
}
img{
  max-width: 100%;
}

/* Buttons */
.btn-primary {background: #4285F4;border: transparent;border-radius: 10px;}
.btn-primary:hover {background: #3177eb;}

.btn-secondary {border-radius: 10px; background: transparent;border-radius: 10px;color: #6c757d;border: none;box-shadow: inset 0px 0px 0px 1px #6c757d;}
.btn-secondary:hover {background: #505050;}

.btn-success {background: #34A853;border: transparent;border-radius: 10px;}
.btn-success:hover {background: #298f44;}

.btn-warning {background: #EFB817;border: transparent;border-radius: 10px; color: #fff;}
.btn-warning:hover {background: #d8a610;}

.btn-danger {background: #F04C4C;border: transparent;border-radius: 10px;}
.btn-danger:hover {background: #d13c3c;}

.btn-light {background: #E0E0E0;border: transparent;border-radius: 10px; color: #455A64;}
.btn-light:hover {background: #cacaca;}

.btn-dark {background: #455A64;border: transparent;border-radius: 10px; color: #fff;}
.btn-dark:hover {background: #3b4e57;}

.btn {
  padding: 10px 20px;
  font-size: 14px;
}
